*{
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;/*轮廓线 消失吧*/
}

a{
    text-decoration: none;
}

.flex{
    display: flex;
}

.j-c{
    justify-content: center;
}

.j-s{
    justify-content: space-between;
}

.a-c{
    align-items:center;
}